<div class="card border-light mb-3 mt-5">
  <div class="card-header alert-dark">{{titulo}}</div>
  <div class="card-body">

    <!-- boton para dirigir al formulario de alumno-->
    <button class="btn btn-secondary my-2" routerLink="/alumnos">&blacktriangleleft; volver</button>


    <form>
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" id="nombre" class="form-control" [(ngModel)]="alumno.nombre">
        <div class="alert alert-danger" *ngIf="error?.nombre"> {{error.nombre}}</div>
        <!-- muestra el error de la validacion si el error ocurre -->
      </div>

      <br>

      <div class="form-group">
        <label for="apellido">Apellido</label>
        <input type="text" name="apellido" id="apellido" class="form-control" [(ngModel)]="alumno.apellido">
        <div class="alert alert-danger" *ngIf="error?.apellido"> {{error.apellido}}</div>
        <!-- muestra el error de la validacion si el error ocurre -->
      </div>

      <br>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" name="email" id="email" class="form-control" [(ngModel)]="alumno.email">
        <div class="alert alert-danger" *ngIf="error?.email"> {{error.email}}</div>
        <!-- muestra el error de la validacion si el error ocurre -->
      </div>

      <br>

      <div class="form-group">
        <div class="mb-3">
          <label for="formFile" class="form-label">Foto</label>
          <input (change)="seleccionarFoto($event)" class="form-control" type="file" id="formFile">
        </div>
      </div>
      <br>

      <div class="form-group">
        <button type="buttom" class="btn btn-primary my-3"
                (click)="alumno.id? editar(): crear()">{{alumno.id ? 'Editar' : 'Crear'}}</button>
        <!-- click  invoca el metodo crear() que definimos en alumnos-form.component.html -->
      </div>

    </form>
  </div>
</div>
